doctype html

include ../components

block variables

html(lang="ru" prefix=micromarking ? "og: //ogp.me/ns#" : false)
  head
    // Yandex.Metrika counter start
    script(type='text/javascript').
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};m[i].l=1*new Date();for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");ym(95244728, "init", {clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true});
    // Yandex.Metrika counter end
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content=description ? description : "Занятия по ментальной арифметике, логике, психологии с детьми и взрослыми онлайн. Помогаю развить эмоциональный интеллект. Тренирую по нейрогимнастике. Развиваю нейропсихологию вместе с вами.")
    meta(name="keywords", content=keywords ? keywords : "дополнительное образование, психология, психолог, нейропсихолог, нейропсихология, психологическое здоровье, нейрогимнастика, логика, ментальная арифметика, преподаватель по раннему развитию, репетитор по ментальной арифметике, эмоциональный интеллект, концентрация внимания, память, самооценка, раннее развитие детей, чтение, развитие речи, письмо")
    meta(name="robots", content="all")
    link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
    link(rel="manifest" crossorigin="use-credentials" href="manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    //- в подключение фавикон манифеста обязательно добавьте строчки crossorigin="use-credentials"
    //- используйте только для шрифта находящегося на первом экране
    link(rel="preload", href="fonts/Montserrat-Medium.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Montserrat-Regular.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Montserrat-SemiBold.woff2", as="font", crossorigin="anonymous")

    link(rel="stylesheet", href="css/style.min.css")

    block micromarking

  body
    noscript
      div
        img(src="https://mc.yandex.ru/watch/95244728" style="position:absolute; left:-9999px;" alt="")
    +sprite()
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

      if (hasFooter)
        +footer(footerMods)

    block modals

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")

    //- include metrika
